fonts/
resume.aux
resume.log
resume.out
resume.synctex.gz
texput.log
CV-*.pdf
Cover Letter Template.aux
Cover Letter Template.log
Cover Letter Template.out
Cover Letter Template.pdf
Cover Letter Template.synctex.gz
Cover Letter Template.tex
